/* Add CSS Styling */

.odd {
   background-color: rgb(255, 161, 202); 
   font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second {
    color: rgb(0, 14, 255);
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#fourth {
    background-color: rgb(135, 224, 134);
    font-weight: bold;
}